{% extends "skeleton.html" %}
{% block content %}

<div class="tags">
  <ul class="tags">
      {% for tag in tags %}
      <li>
      {% if tag.icon_type == 'img' %}
      <img src="{{ url_for('static', filename=tag.icon_data) }}"/>
      {% else %}
      <div style="background:{{tag.icon_data}}" class="tag_icon"></div>
      {% endif %}
      <div style="display:inline">{{tag.name}}</div>
      </li>
      {% endfor %}
  </ul>
</div>

<div class="calendars">
  {{ cals_html }}
</div>

<div style="clear:both"/>

<div class="events">
  {% for event in events %}
  <div class="event">{{event.text}}</div>
  {% endfor %}
</div>

{% endblock %}
