<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>    

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='calendar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sijax_js/sijax.js') }}"></script>
    <script type="text/javascript"> {{ g.sijax.get_js()|safe }} </script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  </head>

  <body>

    <header>
      <div class="container">
        <h1 class="logo">Calendar</h1>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
    <div id="dialog"/>
  </body>
</html>
