
table.calendar {
  table-layout:fixed;
  border-collapse:separate;
  border-spacing:3px;
}

.calendar td {
  background-color:lightblue;
  border:1px solid gray;
  width:10px;
  height:8px;
}

.calendar.current td {
  min-width:20px;
  min-height:20px;
  width:60px;
  height:50px;
}

div.previous_calendars {
  float:left;
}

div.current_calendars {
  float:left;
}

.calendar td.event {
  background-color:lightgreen;
}

.calendar td ul {
  height:16px;
}

.calendar div.actions {
  height:16px;
  text-align:right;
}

.calendar td .content {
  width:100%;
  text-align:center;
}

.tag_icon {
  width:16px;
  height:16px;
  display:inline-block;
}

ul.tags li {
  display:inline;
}

.calendar.current ul.tags li {
  width:16px;
  height:16px;
  display:block;
  float:left;
  margin:2px 2px;
  white-space:nowrap;
}

.calendar.current .content {
  clear:both;
  text-align:center;
  font-size:2em;
}


.calendar div.actions .add {
  display:block;
  visibility:hidden;
  float:right;
  width:16px;
  height:16px;
  background:url('/templates/icons/add.png');
}
/*
.calendar td.hover div.actions a.add {
  visibility:visible;
}
*/
