table.calendar table {
  table-layout:fixed;
}

.calendar td {
  background-color:lightblue;
}

.calendar.current td {
  min-width:20px;
  min-height:20px;
  width:60px;
  height:50px;
}

div.previous_calendars {
  float:left;
}

div.current_calendars {
  float:left;
}

.calendar td.event {
  background-color:lightgreen;
}
.tag_icon {
  width:16px;
  height:16px;
  display:inline-block;
}

ul.tags li {
  display:inline;
}

.calendar.current ul.tags li {
  width:16px;
  height:16px;
  display:block;
  float:left;
  margin:2px 2px;
  white-space:nowrap;
}
